/* ПОСЛІДОВНІСТЬ ДІЙ: #початок роботи в CSS
1. підключити modern-normalize
2. підключити файл style.css
3. підключити шрифти з google-fonts
4. cкидання дефолтних налаштувань браузера
5. прописати загальні стилі
5. прописати стилі шрифтів
6. прописати стилі для: header, main, footer*/

/*підключив modern-normalize - виконано*/
/*підключив файл style-css - виконано*/
/*підключив шрифти з google-fonts - виконано*/
/*скидання дефолтних налаштувань браузера*/
/* скинув маркери */

/*
====================================
----------ДЕФОЛТНІ СКИДАННЯ---------
====================================
*/
.list {
    list-style: none;
}

/* скинув підкреслення */
.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/*
====================================
ЗАГАЛЬНІ СТИЛІ: INDEX/PORTFOLIO
====================================
*/
.logo-webstudio-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.hdr-text-color {
    color: #2E2F42;
}
.web-text {
    color: #4D5AE5;
}

.body {
    font-family: 'Roboto', sans-serif
}

.footer {
    background-color: #2E2F42;
}

.footer-studio-text {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/*інтерактивні посилання в спокійному стані*/
.header-contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*інтерактивні посилання в активному стані*/
.header-contacts-item :hover,
.header-contacts-item :focus {
    color: #404BBF;
}
/*
====================================
----------------END-----------------
====================================
*/
/*
====================================
BUTTONS STYLES
====================================
*/
/*---------------INDEX---------------*/
.section-hero-button-servise {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;

}

/*BUTTON/ACTIVE/INDEX*/
.section-hero-button-servise:hover,
.section-hero-button-servise:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border-radius: 4px;
}

/*---------------PORTFOLIO---------------*/
.menu-btn-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.filter-button {
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

/*BUTTON/ACTIVE/PORTFOLIO*/
.filter-button:hover,
.filter-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/*
====================================
----------------END-----------------
====================================
*/

/*
====================================
HEADER/INDEX
====================================
*/

.header-menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*
====================================
----------------END-----------------
====================================
*/
/*
====================================
MAIN/INDEX
====================================
*/

.section-hero-servise {
    background-color: #2E2F42;
}

.section-hero-solutions {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.section-our-goals-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-our-goals-text {
 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*
====================================
----------------END-----------------
====================================
*/
/*
==========================================
PORTFOLIO/SECTION
==========================================
*/
.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.category {
  
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*
====================================
----------------END-----------------
====================================
*/