/* ПОСЛІДОВНІСТЬ ДІЙ:
1. підключити шрифти
2. прописати шрифти у стилях
3. підключити modern-normalize
4. підключити файл style.css
4. скидання дефолтних налаштувань
5. прописати стилі для: header, main, footer*/

/*скидання дефолтних налаштувань браузера*/
/* скинув маркери */
.list {
    list-style: none;
}

/* скинув підкреслення */
.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}
/*-------------------------HEADER-------------------------*/
/*==================HEADER==================*/
