/* ПОСЛІДОВНІСТЬ ДІЙ: #початок роботи в CSS
1. підключити modern-normalize
2. підключити файл style.css
3. підключити шрифти з google-fonts
4. cкидання дефолтних налаштувань браузера
5. прописати загальні стилі
5. прописати стилі шрифтів
6. прописати стилі для: header, main, footer*/

/*підключив modern-normalize - виконано*/
/*підключив файл style-css - виконано*/
/*підключив шрифти з google-fonts - виконано*/
/*скидання дефолтних налаштувань браузера*/
/* скинув маркери */

/*
====================================
-------ДЕФОЛТНІ СКИДАННЯ/RESET------
====================================
*/
.list {
    list-style: none;
}

/* скинув підкреслення */
.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/*
====================================
ЗАГАЛЬНІ СТИЛІ:STYLES INDEX/PORTFOLIO
====================================
*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*logo styles START*/
.logo-webstudio-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.web-text {
    color: #4D5AE5;
}
.studio-dark {
    color: #2E2F42;
}
.studio-light {
    color: #F4F4FD;
}
/*logo styles END*/

/*COLORS/КОЛЬОРИ*/

.hdr-text-color {
    color: #2E2F42;
}

.footer {
    background-color: #2E2F42;
}
.footer-text {
    color: #F4F4FD;
}
/*END*/

/*інтерактивні посилання в спокійному стані*/
.header-contacts-item {}

/*інтерактивні посилання в активному стані*/
.header-contacts-item :hover,
.header-contacts-item :focus {
    color: #404BBF;
}
/*
====================================
ЗАГАЛЬНІ СТИЛІ--END-----------------
====================================
*/

/*
====================================
BUTTONS STYLES
====================================
*/
/*---------------INDEX---------------*/
.section-hero-button-servise {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;

}

/*BUTTON/ACTIVE/INDEX*/
.section-hero-button-servise:hover,
.section-hero-button-servise:focus {
    background-color: #404BBF;
    color: #FFFFFF;
    border-radius: 4px;
}

/*---------------PORTFOLIO---------------*/
.menu-btn-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.filter-button {
    background-color: #F4F4FD;
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}
/*BUTTON/ACTIVE/PORTFOLIO*/
.filter-button:hover,
.filter-button:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}
/*
====================================
----------------END-----------------
====================================
*/

/*
====================================
INDEX/HEADER
====================================
*/

.header-menu-item {
    font-style: normal;
    font-weight: 500;
}

/*
====================================
----------------END-----------------
====================================
*/
/*
====================================
INDEX/MAIN
====================================
*/

.section-hero-servise {
    background-color: #2E2F42;
}

.section-hero-solutions {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF
}

.section-our-goals-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-our-goals-text {
    color: #434455;
}
/*
====================================
----------------END-----------------
====================================
*/
/*
==========================================
PORTFOLIO/SECTION
==========================================
*/
/*COLORS/КОЛЬОРИ*/
.category {
    color: #434455;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/*
====================================
----------------END-----------------
====================================
*/


/*
|==========================================|
|HEADER|
|==========================================|
*/
.main-header {}
/*
|==========================================|
|NAV|
|==========================================|
*/
.header-navigation {}

.logo-webstudio-text {}

.link {}

.web-text {}

.studio-dark {}
/*
|==========================================|
|HEADER/головна навігація/перехід|
|==========================================|
*/

.header-menu-list {}

.header-menu-item {}

.header-menu-link {}

.hdr-text-color {}
/*
|==========================================|
|HEADER/ADRESS|
|==========================================|
*/

.header-page-adress {}

.header-contacts {}

.header-contacts-item {}

.header-contact-mail {}

.header-contact-tel {}

/*
|==========================================|
|MAIN/SECTION HERO|
|==========================================|
*/
.section-hero-servise {}

.section-hero-solutions {}

.section-hero-button-servise {}

/*
|==========================================|
|MAIN/SECTION OUR GOALS|
|==========================================|
*/
.section-our-goals {}

.section-our-goals-list {}

.section-our-goals-item {}

.section-our-goals-title {}

.section-our-goals-text {}

/*
|==========================================|
|MAIN/SECTION PROPOSITION|
|==========================================|
*/
.section-proposition {}

.section-proposition-title {}

.section-proposition-list {}

.section-proposition-item {}

.section-proposition-img {}

/*
|==========================================|
|MAIN/SECTION OUR TEAM|
|==========================================|
*/
.section-team {}

.section-team-first-title {}

.section-team-list {}

.section-team-item {}

.section-team-img {}

.section-team-title-name {}

.section-team-category {}

/*
|==========================================|
|FOOTER|
|==========================================|
*/
.footer {}

.logo-webstudio-text {}

.link {}

.web-text {}

.studio-light {}

.footer-text {}